<div class="home">
    <div class="head center-vertical">
        <p>Productos</p>
    </div>
    <div class="contenedor">
        <div class="row">
            <div class="col-sm-12">
                <form (ngSubmit)="onSubmit()" [formGroup]="selectProduct">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6">
                            <select type="text" formControlName="bank_select"
                              (change)="bankSelect('')" class="custom-select w-100">
                              <option *ngFor="let bank of banks; let indice = index" [ngValue]="bank">{{bank}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                          <select type="text" formControlName="product_select"
                            (change)="productSelect()" class="custom-select w-100">
                            <option *ngFor="let productType of productTypes; let indice = index" [ngValue]="productType">{{productType}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let product of products; let indice = index" class="col-sm-6 col-md-4">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>