<div class="home">
    <div class="head center-vertical">
        <p>Productos</p>
    </div>
    <div class="contenedor">
        <div class="row">
            <div class="col-sm-12">
                <form (ngSubmit)="onSubmit()" [formGroup]="selectProduct">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6">
                            <label for="exampleFormControlSelect1">Seleccione el Banco</label>
                            <select type="text" formControlName="bank_select"
                              (change)="bankSelect('')" class="custom-select w-100">
                              <option *ngFor="let bank of banks; let indice = index" [ngValue]="bank">{{bank}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                          <label for="exampleFormControlSelect1">Seleccione producto</label>  
                          <select type="text" formControlName="product_select"
                            (change)="productSelect()" class="custom-select w-100">
                            <option *ngFor="let productType of productTypes; let indice = index" [ngValue]="productType">{{chanceProductTypes(productType)}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let product of products; let indice = index" class="col-sm-6 col-md-4">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="card-title text-center">{{chanceProductTypes(product.typeAccount)}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icono">
                                    <i class="fa fa-id-card-o" 
                                        [ngClass]=
                                            "{ 
                                                'fa': true, 
                                                'fa-id-card-o': product.typeAccount == 'DEPOSIT_ACCOUNT', 
                                                'fa-credit-card-alt': product.typeAccount == 'CREDIT_CARD', 
                                                'fa-taxi': product.typeAccount == 'CREDIT', 
                                                'fa-address-card-o': product.typeAccount == 'CERTIFIED_DEPOSIT_TERM',
                                                'fa-cc': product.typeAccount == 'CURRENT_ACCOUNT'
                                            }"
                                    ></i>
                                </div>
                            </div>    
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6 card-key">Identificador:</div>
                                    <div class="col-sm-6 card-value">{{product.id | creditFormat}}</div>
                                </div>
                                <div class="row" *ngIf="product.typeAccount == 'CERTIFIED_DEPOSIT_TERM'">
                                    <div class="col-sm-6 card-key">Valor:</div>
                                    <div class="col-sm-6 card-value">{{product.productAccountBalances.valor_constitucion.amount  | format}}</div>
                                    <div class="col-sm-6 card-key">Intereses causados:</div>
                                    <div class="col-sm-6 card-value">{{product.productAccountBalances.intereses_causados.amount | format}}</div>
                                    <div class="col-sm-6 card-key">Interes pagado:</div>
                                    <div class="col-sm-6 card-value">{{product.productAccountBalances.interes_pagado.amount | format}}</div>
                                </div>
                                <div class="row" *ngIf="product.typeAccount == 'DEPOSIT_ACCOUNT'">
                                    <div class="col-sm-6 card-key">Saldo actual:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{product.productAccountBalances.saldo_actual.amount | format}}</p></div>
                                    <div class="col-sm-6 card-key">Saldo disponible:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{product.productAccountBalances.saldo_disponible.amount | format}}</p></div>
                                    <div class="col-sm-6 card-key">Saldo canje:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{product.productAccountBalances.saldo_canje.amount | format}}</p></div>
                                </div>
                                <div class="row" *ngIf="product.typeAccount == 'CREDIT_CARD'">
                                    <div class="col-sm-6 card-key">Cupo total:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{ product.productAccountBalances.cupo_total.amount | format}}</p></div>
                                    <div class="col-sm-6 card-key">Cupo disponible:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{product.productAccountBalances.cupo_disponible_compras_pesos.amount | format}}</p></div>
                                    <div class="col-sm-12 progress" *ngIf="product.capacity">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progressBar(product.capacity) + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Uso del {{progressBar(product.capacity)}}%</div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="product.typeAccount == 'CREDIT'">
                                    <div class="col-sm-6 card-key">Cupo total:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{ product.productAccountBalances.cupo_total.amount | format}}</p></div>
                                    <div class="col-sm-6 card-key">Cupo disponible:</div>
                                    <div class="col-sm-6 card-value"><p *ngIf="product.productAccountBalances">{{product.productAccountBalances.cupo_disponible_compras_pesos.amount | format}}</p></div>
                                    <div class="col-sm-12 progress" *ngIf="product.capacity">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progressBar(product.capacity) + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Uso del {{progressBar(product.capacity)}}%</div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer center-vertical">
        <p>Javier Alexander Villalba Aguirre</p>
    </div>
</div>